In [1]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.preprocessing import LabelEncoder

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import tensorflow as tf

# 실행할 때마다 같은 결과를 출력하기 위해 설정하는 부분입니다.
np.random.seed(3)
tf.random.set_seed(3)

# 데이터 입력
df = pd.read_csv('../dataset/iris.csv', names = ["sepal_length", "sepal_width", "petal_length", "petal_width", "species"])

In [5]:
df['species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [7]:
# 그래프로 확인
# sns.pairplot(df, hue='species');
# plt.show()

In [9]:
# 데이터 분류
dataset = df.values
# dataset

In [13]:
X = dataset[:,0:4].astype(float)
Y_obj = dataset[:,4]
Y_obj

array(['Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica'], dtype=object)

In [12]:
# dataset

In [15]:
# 문자열을 숫자로 변환 - 방법1
e = LabelEncoder()
e.fit(Y_obj)
Y = e.transform(Y_obj)

In [ ]:
# 문자열을 숫자로 변환 - 방법2
def f(x) :
    # 'Iris-setosa'
    if(x == df['species'].unique()[0]) :
        return 0
    elif(x == df['species'].unique()[1]) :
        return 1
    else :
        return 2

df['species'] = df['species'].apply(f)

In [18]:
# # 문자열을 숫자로 변환 - 방법3
df2 = pd.DataFrame({'species_category': [0, 1, 2]}, 
                   index=[df['species'].unique()[0], 
                          df['species'].unique()[1], 
                          df['species'].unique()[2]])
df2

                 species_category
Iris-setosa                     0
Iris-versicolor                 1
Iris-virginica                  2

In [19]:
df = pd.merge(df, df2, left_on='species', right_index=True, how='outer')

,sepal_length,sepal_width,petal_length,petal_width,species,species_category
0,5.1,3.5,1.4,0.2,Iris-setosa,0
1,4.9,3.0,1.4,0.2,Iris-setosa,0
2,4.7,3.2,1.3,0.2,Iris-setosa,0
3,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5.0,3.6,1.4,0.2,Iris-setosa,0
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,2
146,6.3,2.5,5.0,1.9,Iris-virginica,2
147,6.5,3.0,5.2,2.0,Iris-virginica,2
148,6.2,3.4,5.4,2.3,Iris-virginica,2
149,5.9,3.0,5.1,1.8,Iris-virginica,2

In [20]:
df.drop(['species'], axis=1, inplace = True)

In [25]:
# one-hot encoding 변환 방법 1
Y_encoded = tf.keras.utils.to_categorical(Y)
# Y_encoded
# one-hot encoding 변환 방법 2
# Y_encoded = tf.one_hot(Y, depth=3).numpy()
# Y_encoded

In [7]:
# 모델의 설정
model = Sequential()
model.add(Dense(16,  input_dim=4, activation='relu'))
model.add(Dense(3, activation='softmax'))

# 모델 컴파일
model.compile(loss='categorical_crossentropy',
            optimizer='adam',
            metrics=['accuracy'])

In [8]:
# 모델 실행
# model.fit(X, Y_encoded, epochs=50, batch_size=1)
model.fit(X, Y_encoded, epochs=5, batch_size=1)

Epoch 1/5
150/150 [==============================] - 0s 1ms/step - loss: 1.3259 - accuracy: 0.3333
Epoch 2/5
150/150 [==============================] - 0s 2ms/step - loss: 0.8409 - accuracy: 0.6333
Epoch 3/5
150/150 [==============================] - 0s 2ms/step - loss: 0.7110 - accuracy: 0.7267
Epoch 4/5
150/150 [==============================] - 0s 2ms/step - loss: 0.6229 - accuracy: 0.6867
Epoch 5/5
150/150 [==============================] - 0s 1ms/step - loss: 0.5542 - accuracy: 0.7933

In [9]:
# 결과 출력
print("\n Accuracy: %.4f" % (model.evaluate(X, Y_encoded)[1]))

5/5 [==============================] - 0s 2ms/step - loss: 0.5154 - accuracy: 0.9000

 Accuracy: 0.9000

In [15]:
list1= [5.7, 4.4, 1.5, 0.4]
test_x = np.array([list1])
test_x

array([[5.7, 4.4, 1.5, 0.4]])

In [20]:
y = model.predict(test_x)

In [21]:
y

array([[0.9030313 , 0.03175557, 0.06521311]], dtype=float32)